<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">    
    <link rel="stylesheet" href="/static/css/product.css">
    <title>Amazol</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header-content">
                <h1 class="logo" onclick="get_main_page()">Amazol</h1>
                <button class="btn" id='orders' onclick="get_user_orders()">
                    Orders
                </button>
                <div class="search-bar">
                    {% if search_query is none%}
                        <input type="search" placeholder="Search products..." id="searchInput">
                    {% else %}
                        <input type="search" placeholder="Search products..." id="searchInput" value="{{ search_query }}">
                    {% endif %}
                    <button class="search-button" id="searchButton" onclick="search()">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                    </button>
                </div>
                <div class="header-buttons">
                    {% if user %}
                    <button class="btn" id='login' onclick="get_user_info('{{ user }}')">
                        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                        welcome {{ user }}
                    </button>
                    {% else %}

                        <button class="btn" id='login' onclick="sign_in_user()">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                            Login
                        </button>
                    {% endif %}
                    <div class="cart-button">
                        <span class="cart-count" id="cartCount">0</span>
                        <button class="btn" id="cartBtn" onclick="get_cart()">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                            Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="overlay" class="overlay"></div>
    <div id="popup" class="popup">
        <button id="closePopup">Close</button>
    </div>

    <div class="bottom-bar">
            <div class="bottom-bar-content">
                <button onclick="get_seller_info()">Work with us</button>
            </div>
            
    </div>
    <div class="container">
        <div class="product" id="product_info">
            <div class="product-details" id="product_details">
            </div>
        </div>
    </div>

    <script src="/static/scripts/home.js">
    </script>
    <script src="/static/scripts/product.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', async () => {
        await get_product_info('{{ product_name }}')
    })
    </script>
</body>
</html>